body {
  margin: 0;
  padding: 5%;
  overflow-x: hidden;
}
.home {
  position: fixed;
  left: 30px;
}
.icons {
  display: flex;
  position: relative;
  left: 900px;
}
img {
  position: relative;
  width: 80%;
  top: 50px;
}
pre {
  text-align: center;
}
